
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
example
playwright.config.ts
package.json
package-lock.json
.playwright-mcp
.github/copilot-instructions.md
